:root {
  --bg-dark: #2b2b2b;
  --bg-darker: #1e1e1e;
  --accent: #4f9a4f;
  --text: #f0f0f0;
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
  font-family: monospace;
  margin: 0;
}

.toolbar {
  border-bottom: 2px solid var(--accent);
  padding: 0.5rem;
  text-align: right;
  background-color: var(--bg-darker);
  position: relative;
}



.content {
  display: flex;
  height: calc(100vh - 3rem);
}

.filter {
  border-right: 2px solid var(--accent);
  width: 150px;
  padding: 1rem;
  background-color: var(--bg-darker);
}

.main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 100%;
}


.media-item {
  border: 1px solid var(--accent);
  background-color: var(--bg-darker);
  border-radius: 0;
  box-shadow: none;
  padding: 0.75rem;
  margin: 0.5rem;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: border-color 0.2s;
  max-height: 220px;
}

.media-item img,
.media-item video {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 150px;
  object-fit: contain;
  display: block;
}