<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home_page/style.css') }}">

</head>
<body>
    <div class="toolbar">
        <a href="{{ url_for('logout') }}">Logout</a>
        </div>
            <div class="content">
                    <div class="filter">
                    <h3>Filter</h3>
                    <p><a href="{{ url_for('home_page', filter='images') }}">Images</a></p>
                    <p><a href="{{ url_for('home_page', filter='videos') }}">Videos</a></p>
                    <p><a href="{{ url_for('home_page', filter='audios') }}">Audios</a></p>
                    <h3>Size</h3>
                    <select id="sizeFilter" onchange="changeSize()">
                        <option value="normal">Normal</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                        <option value="original">Original</option>
                    </select>
                    </div>
                <div class="main">
                    {% if images %}
                        <h3>Images</h3>
                        {% for img in images %}
                        <div class="media-item">
                            <a href="{{ url_for('viewer', folder='images', filename=img) }}">
                            <img src="{{ url_for('media_file', folder='images', filename=img) }}" class="normal">
                            </a>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if videos %}
                        <h3>Videos</h3>
                        {% for vid in videos %}
                        <div class="media-item">
                            <a href="{{ url_for('viewer', folder='videos', filename=vid) }}">
                            <video src="{{ url_for('media_file', folder='videos', filename=vid) }}" class="normal"></video>
                            </a>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if audios %}
                        <h3>Audios</h3>
                        {% for aud in audios %}
                        <div class="media-item">
                            <a href="{{ url_for('viewer', folder='audios', filename=aud) }}">
                            🎵 {{ aud }}
                            </a>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if files %}
                    <h3>Files</h3>
                    <ul class="file-list">
                    {% for f in files %}
                    <li>
                        <a href="{{ url_for('viewer', folder='files', filename=f) }}">{{ f }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </body>
</html>