<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='lock_page/style.css') }}">
    </head>
    <body>
        <div class="center-box">
            <h2>ART Cloud Login</h2>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <form method="post">
                <input type="password" name="password" placeholder="Enter password" autofocus>
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>